* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  color: whitesmoke;
}
html,
body {
  height: 100%;
  background-image: url('../assects/images/background.jpeg');
  height: 100%;
  background-position: center;
  background-size: cover;
  padding: 0 1.5%;
  font-family: Helvetica Neue, sans-serif;
}
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1% 0;
}
.fas {
  font-size: 2em;
  color: whitesmoke;
}
.home-button {
  border: none;
}
button {
  width: 5em;
  background: transparent;
  color: whitesmoke;
  border: 1px solid grey;
}
.create-board button {
  width: 8em;
}
header {
  display: flex;
  justify-content: space-between;
  padding: 1% 0 2% 0;
}
#user span {
  font-size: 2em;
}
.menu button {
  width: 8em;
}
.lists {
  display: flex;
  flex-direction: column;
  background-color: #ebecf0;
  border-radius: 3px;
  white-space: normal;
  width: 300px;
  margin: 0 4px;
  padding: 2%;
}
.lists-nav {
  display: flex;
  justify-content: space-between;
  margin-bottom: 5%;
}
.lists-nav h3 {
  color: black;
}
.add-cards--nav,
.lists-nav button {
  color: black;
  border: none;
  font-size: 20px;
  text-align: right;
}
.cards-wrapper {
  overflow: auto;
  max-height: 80vh;
}
#inputid {
  color: black;
  padding: 3px;
  margin-bottom: 1em;
  width: 100%;
  border: none;
  background-color: #ebecf0;
}
.cards {
  background-color: whitesmoke;
  margin-bottom: 30px;
  padding: 4%;
  display: flex;
  justify-content: space-between;
}
.delete {
  border: none;
  color: black;
  padding: 0 0 0 2em;
  text-align: right;
}
.cards button {
  width: auto;
  color: black;
  font-size: 15px;
  word-break: break-all;
  border: none;
}
.add-another-cards button {
  width: 100%;
  border: none;
  text-align: left;
}
.add-another-cards span {
  color: black;
}
.modal-content {
  max-height: 80vh;
  overflow: auto;
}
.cards-button {
  display: flex;
  justify-content: space-between;
  padding: 2em;
}
.text-primary {
  word-break: break-all;
  color: black;
}
.modal-header {
  display: flex;
  justify-content: space-between;
}
.checkLists {
  background-color: whitesmoke;
  padding: 15px;
  margin: 20px;
  border-radius: 4%;
}
.checkLists h5 {
  color: black;
}
